@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower);
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah);
@import url(https://fonts.googleapis.com/css?family=Orbitron);
body { 
    background: -webkit-linear-gradient(green, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(green, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(green, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(green, blue); /* Standard syntax */
    background-attachment: fixed;
	font-family:Bangers;}
a:hover { 
    background-color: #7FFFD4;
}
.lobster{
	font-family: Lobster
}
.montserrat{
	font-family: Montserrat
}
.indieflower{
	font-family: Indie Flower
}
.gloriahallelujah{
	font-family: Gloria Hallelujah
}
.orbitron{
	font-family: orbitron
}
img {
	box-shadow: 10px 10px 5px grey;
	border:2px solid black;
	
	
